@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    

    .tab-content {
        display: none;
    }

    .tab-content.active {
        display: block;
    }

    #drop-zone.highlight {
        @apply border-indigo-500 bg-indigo-50;
    }

    #qr-code {
        @apply bg-white shadow-sm;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    }

    .fa-spinner {
        animation: spin 1s linear infinite;
    }
}

@layer utilities {
    @keyframes spin {
        to { transform: rotate(360deg); }
    }
}
